
.card{
    margin: 2px;
}

.puntaje{
    padding: 1rem;
    font: bold;   
    float: right; 
    clear: both;
    display: table;
    border: 3px solid #73AD21;
    
    border-radius: 50%;
    background-color: hsla(0, 0%, 96%);

}
